<!DOCTYPE html>
<html>
<head>
  <title>PlanetConnect Events</title>
  <%= stylesheet_link_tag 'style.css', :media => 'screen' %>
  <%= stylesheet_link_tag 'tabs.css', :media => 'screen' %>
  <%= stylesheet_link_tag 'pagenavi-css.css', :media => 'screen' %>
  <%= javascript_include_tag 'js/dt/cufon-yui.js' %>
  <%= javascript_include_tag 'js/dt/PT_Sans.js' %>
  <%= javascript_include_tag 'js/dt/jquery-1.4.2.min.js' %>
  <%= javascript_include_tag 'js/dt/jquery-ui-1.5.3.min.js' %>
  <%= javascript_include_tag 'js/dt/hoverintent.js' %>
  <%= javascript_include_tag 'js/dt/superfish.js' %>
  <%= javascript_include_tag 'js/dt/custom.js' %>
  <%= javascript_include_tag 'js/dt/tabs-hoverintent.js' %>
  <%= javascript_include_tag 'js/dt/tabs-superfish.js' %>
  <%= javascript_include_tag 'js/dt/tabs.js' %>
  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>

</body>
</html>
